<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Codper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="btn bg-light" routerLink='home' >Home<span class="sr-only">(current)</span></a> <br/>
            </li>
            &nbsp;
            <li class="nav-item active" >
                <button class="btn btn-success"  routerLink='quiz'> Start Quiz</button>
            </li>
        </ul>
    </div>
   
</nav>
<br/>

<main rolw="main" class="container">
    <div class="jumbotron">
         <div>
             <router-outlet></router-outlet>
                
        </div>
    </div>
   